*.png
sftp-config.json
Ops/FWI/ops/build
Ops/FWI/ops/__pycache__
src/data/*.txt
*.txt
*.jld2
*.bin
*.mat
*.pyc
*.json

*build*
log
*.tar
.vscode/
*.DS_Store*
*0000*
ssh2_v2_m1_r6
!CMakeLists.txt
*.pdf